body {
    background-color: black;
    margin: 0%;
}

header {
    display: flex;
    height: 83px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

#logo img {
    width: 150px;
}

#menu {
    display: flex;
    gap: 80px;
    align-items: center;
}

.menu-palavra {
    display: flex;
    align-items: center;
    height: 83px;
    text-decoration: none;
    color: #A8A8B3;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.menu-palavra:hover {
    color: #dddddd;
    border-bottom: solid #FBBC05 1px;
}

#login {
    display: flex;
    gap: 32px;
    align-items: center;
}

#entrar {
    display: flex;
    gap: 8px;
    width: 70px;
    height: 16px;
    background: none;
    border: none;
    align-items: center;
    cursor: pointer;
}

#entrar p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

#criar-conta {
    width: 118px;
    height: 38px;
    border: solid #FBBC05 1px;
    border-radius: 5px;
    background: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

#criar-conta:hover {
    background-color: #FBBC05;
}

#imagem-principal {
    background-image: url(imagem-principal.png);
    width: 100%;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagem-principal input {
    border: none;
    width: 710px;
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding-left: 20px;
}

#populares {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-populares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

#titulo-populares {
    width: 100%;
}

#titulo-populares h1 {
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

#imagens-populares {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    gap: 2%;
}

.local {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.local p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.local img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.local:hover {
    transform: scale(1.05);
    border-bottom: solid #FBBC05 2px;
}
  